.app.dark {
    --bg-color: #0a0c10;

    --primary-color: #e8e8ea;
    --secondary-color: #5A5A5A;
    --success-color: #26cd4d;
    --attention-color: #ff6a69;
    --warning-color: #ffee4a;
    --info-color: #409eff;
}