.app.light {
    --bg-color: #e8e8ea;

    --navbar-bg-color: #f5f5f5;

    --primary-color: #121212;
    --secondary-color: #5A5A5A;
    --success-color: #40c463;
    --attention-color: #fa4549;
    --warning-color: #fe9600;
    --info-color: #54AEFF;
}